# Ignore everything
*

# But not these files...
!.*
!.vim/**
!*rc
!*tmux/**
!.zsh/**
#ignore these files specifically
.yarnrc
.multirust
.CFUserTextEncoding
.DS_Store
.Trash
*zcompdump*
*history
.bash_sessions/
.atom/
.vim/backup
.vim/swap
.vim/undo
.nvm/
.lesshst
.zsh-update
*viminfo*
.vimtags
.tmux/resurrect/**
.cargo/*
.mongorc.js
.dbshell
.netrc
.rnd
